[Unit]
Description=Executa todos os testes automatizados do projeto

[Service]
Type=oneshot
WorkingDirectory=/home/felipe/MT5-Process-Core-full
ExecStart=/usr/bin/env pytest --maxfail=1 --disable-warnings

[Install]
WantedBy=multi-user.target
